<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nexus.telepresenca">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaDispositivos"
            android:label="Dispositivos Pareados"
            android:theme="@android:style/Theme.Dialog"
            />
        <!--<service android:name=".ServiceStatus"/>-->
        <service android:name=".Video.services.ClearNotificationService" android:exported="false" >
            <intent-filter android:label="Notificacao" >
                <action android:name="nexus.telepresenca.Video.services.ClearNotificationService" />
            </intent-filter>
        </service>
        <activity
            android:name=".Video.HelloWorldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="nexus.telepresenca.Video.OpenTokHelloWorld" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e6e179190b1902227d6bf6f81bd409291a11566a" />
    </application>

</manifest>